<% if user_signed_in? %>
    <div class="row">
      <aside class="span3">
        <section>
          <h1>
            <%= image_tag current_user.avatar.url(:medium), id: "avatar"%>
          </h1>
        </section>
        <section>
          <%= render 'users/stats' %>
        </section>
      </aside>
      <div class="span8">
        <h3><%= t ".feed" %></h3>
        <%= render 'shared/feed' %>
      </div>
    </div>
<% else %>
<div class="center hero-unit">
  <h1><%= t ".title" %></h1>

  <h2><%= t ".description"%>
  </h2>

  <%= link_to (t ".sign_up"), signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end  %>


