<h2><%=t("devise.registrations.new.sign") %></h2>
<span><%=t("devise.registrations.new.sign_p")%></span>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

    <%= f.label t("devise.registrations.new.avatar") %>
    <%= f.file_field :avatar %>

    <%= f.label t("devise.registrations.new.nik") %>
    <%= f.text_field :nik %>

    <%= f.label t("devise.registrations.new.email") %>
    <%= f.text_field :email %>

    <%= f.label t("devise.registrations.new.born_on") %>
    <%= f.date_select :born_on, start_year: 1900 %>

    <%= label_tag(:female, "Sex:") %>
    <%= radio_button_tag(:female, true) %>
    <%= label_tag(:female, "Female") %>
    <%= radio_button_tag(:female, false) %>
    <%= label_tag(:female, "Male") %>

    <%= f.label t("devise.registrations.new.password") %>
    <%= f.password_field :password %>

  <%= f.label t("devise.registrations.new.password_confirmation") %>
  <%= f.password_field :password_confirmation %>

  <div><%= f.submit t("devise.registrations.new.sign_up") %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
