<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

    <%= f.label :avatar %>
    <%= f.file_field :avatar %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :born_on %>
    <%= f.date_select :born_on, start_year: 1900 %>

    <%= label_tag(:female, "Sex:") %>
    <%= radio_button_tag(:female, true) %>
    <%= label_tag(:female, "Female") %>
    <%= radio_button_tag(:female, false) %>
    <%= label_tag(:female, "Male") %>

    <%= f.label :password %>
    <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
