<%= form_for(Comment.new) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.hidden_field :micropost_id, :value => micropost.id %>
      <%= f.text_area :content, placeholder: t("comments._form.placeholder"), size:"24x1" %>
    </div>
    <%= f.submit t("post"), class: "btn btn-large btn-primary" %>
<% end %>
