<%= form_for(Comment.new) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.hidden_field :micropost_id %>
      <%= f.text_area :content, placeholder: "Compose new micropost...", size:"24x1" %>
    </div>
    <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>