<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= image_tag @user.avatar.url(:thumb), id: "avatar"%>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <%= render 'users/follow_form' if signed_in? %>
    <h3>Microposts </h3>
    <% if current_user?(@user) %>
      <%= render 'shared/micropost_form' %>
    <% end %>
    <% if @user.microposts.any? %>

        <ol class="microposts">

          <%= render @microposts %>
        </ol>
        <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
