<li id="<%= feed_item.id %>">
  <%= image_tag feed_item.user.avatar.url(:thumb), id: "avatar", size:"40x50"%>
  <span class="user">
    <%= link_to feed_item.user.name, feed_item.user %>
  </span>
  <span class="content"><%= feed_item.content %></span>
  <% if feed_item.image? %>
      <span class="content"><%= image_tag feed_item.image.url(:medium), id: "image" %></span>
  <% end %>
  <span class="timestamp">
    <%= t "posted" %>
    <%= time_ago_in_words(feed_item.created_at) %>
    <%= t "ago" %>.
  </span>
  <% if feed_item.comments.any? %>
      <ol class="comments">
        <%= render 'comments/comments', :comments => feed_item.comments %>
      </ol>
  <% end %>
</li>
