<a href="<%= user_path(current_user) %>">
  <%= image_tag current_user.avatar.url(:thumb), id: "avatar"%>
</a>
<h1>
  <%= current_user.name %>
</h1>
<span>
  <%= link_to (t "shared._user_info.my_profile"), current_user %>
</span>
<span>
  <%= pluralize(current_user.microposts.count, (t "shared._user_info.micropost")) %>
</span>

