<li>
  <span class="content"><%= micropost.content %></span>
  <% if micropost.image? %>
      <span class="content"><%= image_tag micropost.image.url(:medium), id: "image" %></span>
  <% end %>
  <span class="timestamp">
    <%= t "posted" %>
    <%= time_ago_in_words(micropost.created_at) %>
    <%= t "ago" %>
  </span>
  <% if can? :destroy, micropost %>
      <%= link_to "delete", micropost, method: :delete,
                  confirm: t("confirm"),
                  title: micropost.content %>
  <% end %>
  <% if micropost.comments.any? %>
      <ol class="comments">
        <%= render 'comments/comments', :comments => micropost.comments %>
      </ol>
  <% end %>
      <ol class="comments">
        <%= render 'comments/form', :micropost => micropost %>
      </ol>
</li>
